<section class="banner shadow-lg vh-50">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark"
        style="background-image: url('https://cdn.discordapp.com/attachments/1120136461233168437/1120973281407795310/banner.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <div class="pt-5 m-auto text-center">
                <h1 class="display-4 lh-1 fw-bold">À propos</h1>
            </div>
        </div>
    </div>
</section>
<div class="container-sm p-5">
    <h1>Un jour peut-etre</h1>
    <div style="height: 100vh;"></div>
</div>