<section class="banner shadow-lg vh-50">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark"
        style="background-image: url('https://cdn.discordapp.com/attachments/1120136461233168437/1120973281407795310/banner.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <div class="pt-5 m-auto text-center">
                <h1 class="display-4 lh-1 fw-bold">Contactes</h1>
            </div>
        </div>
    </div>
</section>
<div class="container-sm">
    <section class="justify-content-center d-flex py-5">
        <center class="w-100">
            <div class="row w-100">
                <div
                    class="card overflow-hidden card-cover text-bg-dark rounded-4 shadow-lg card-discord col-12 col-sm-12 col-lg-6 p-0 mx-auto">
                    <div class="d-flex flex-column h-100 text-shadow-1 bg-blur p-3">
                        <h3 class="display-6 lh-1 fw-bold text-center align-middle m-0">
                            <img src="https://cdn.discordapp.com/icons/1120136458133585991/bbd39fda295f1bcc6087499c6eb3ea76.webp?size=96"
                                class="me-3 rounded-4 shadow-lg">
                            <span class="mx-auto">Discord</span>
                        </h3>
                    </div>
                </div>
            </div>
            <iframe src="https://discord.com/widget?id=1120136458133585991&theme=dark" width="350" height="500"
                class="col-11 col-sm-11 col-lg-4 shadow rounded-4 rounded-top-0"
                style="background-color: hsl(235,calc(var(--saturation-factor, 1)*85.6%),64.7%);"
                allowtransparency="true" frameborder="0"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </center>
    </section>
    <section class="pb-5">
        <div class="p-5 text-center bg-body-tertiary rounded-3 shadow">
            <i class="bi bi-envelope-at mt-4 mb-3 display-2 text-primary"></i>
            <h1 class="text-body-emphasis">E-mail</h1>
            <h4 class="col-lg-8 mx-auto text-muted fs-4">
                <a href="mailto:hactazia@gmail.com">hactazia@gmail.com</a>
            </h4>
        </div>
    </section>

    <section class="pb-5">
        <div class="p-5 text-center bg-info rounded-3 shadow">
            <i class="bi bi-twitter mt-4 mb-3 display-2 text-primary"></i>
            <h1 class="text-body-emphasis">Twitter</h1>
            <h4 class="col-lg-8 mx-auto text-muted fs-4">
                <a href="https://twitter.com/Hactazia">Hactazia</a>
            </h4>
        </div>
    </section>
</div>