<section class="banner shadow-lg">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark"
        style="background-image: url('https://cdn.discordapp.com/attachments/1120136461233168437/1120973281407795310/banner.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <div class="pt-5 m-auto text-center">
                <h1 class="display-1 lh-1 fw-bold">Hactazia</h1>
                <h3 class="display-6 lh-1 fw-bold">Développeur amateur</h3>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="https://cdn.discordapp.com/attachments/1120136461233168437/1120973280531193976/autodidacte.png"
                    class="border rounded-3 shadow-lg d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                    loading="lazy" width="700" height="500">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Autodidacte</h1>
                <p class="lead">Ayant commencé au collège avec Scratch, puis Java, Javascript et récement le C#.
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="/about" type="button" class="btn btn-primary btn-lg px-4 me-md-2">Biographie</a>
                    <a href="/projects" type="button" class="btn btn-outline-secondary btn-lg px-4">Projets</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container px-4 py-5 text-center ">
        <h1 class="display-4 fw-bold text-body-emphasis">Fan de technologies</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Aime découvrir de nouvelles choses et en apprendre plus sur ces dernières.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <a href="/about" type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Activités</a>
                <a href="/contact" type="button" class="btn btn-outline-secondary btn-lg px-4">Contactes</a>
            </div>
        </div>
        <img src="https://cdn.discordapp.com/attachments/1120136461233168437/1120973280849973309/fantechno.png"
            class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" loading="lazy" width="700"
            height="500">
    </div>
</section>