<!DOCTYPE html>
<html lang="fr" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> | Hactazia</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <meta name="description" content="Site de présentation d'Hactazia">
  <meta http-equiv="X-UA-Compatible" content="IE=7">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body class="h-100">
  <header class="fixed-top shadow-lg">
    <div class="container-sm flixed-top d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
      <div class="col-md-3">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none align-middle mb-2 mb-md-0">
          <img src="https://cdn.discordapp.com/avatars/257437143331373056/621270df76f1400b708edfa10505d1e0.webp?size=64" height="45" class="rounded shadow">
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2">Accueil</a></li>
        <li><a href="/projects" class="nav-link px-2">Projets</a></li>
        <li><a href="/commissions" class="nav-link px-2">Commissions</a></li>
        <li><a href="/contact" class="nav-link px-2">Contactes</a></li>
        <li><a href="/about" class="nav-link px-2">À propos</a></li>
      </ul>
    </div>
  </header>

  <main class="bg-body">
    <%- content %>
  </main>
  
  <div class="shadow-lg text-white text-shadow-1 bg-dark bg-gradient">
    <footer class="container-sm d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 pb-5">
      <p class="col-md-4 mb-0">@Hactazia</p>

      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none align-middle mb-2 mb-md-0">
        <img src="https://cdn.discordapp.com/avatars/257437143331373056/621270df76f1400b708edfa10505d1e0.webp?size=64" height="45" class="rounded shadow">
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-white">Accueil</a></li>
        <li class="nav-item"><a href="/projects" class="nav-link px-2 text-white">Projets</a></li>
        <li class="nav-item"><a href="/commission" class="nav-link px-2 text-white">Commissions</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link px-2 text-white">Contactes</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-white">À propos</a></li>
      </ul>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>